Django==3.1.4

# django-model-utils
git+https://github.com/jazzband/django-model-utils.git@master#egg=django-model-utils

django-admin-interface
django-annoying==0.10.6
django-colorfield==0.4.1
django-cryptography==1.0
django-extensions==3.1.0
django-minio-storage==0.3.10
django-redis==4.12.1
django-redis-sessions==0.6.2
django-timezone-field==4.1.1

djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0

cryptography~=3.4.7
dj-database-url==0.5.0
minio==6.0.2
Pillow==8.2.0
psycopg2-binary==2.8.6
python-jose==3.2.0
pytz~=2020.5
redis==3.5.3
whitenoise==5.2.0
uWSGI==2.0.18

sentry-sdk
ipdb