<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Stylesheet -->
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

    {% load static %}

    <!-- Icons -->
    <link rel="shortcut icon" type="image/x-icon" media="all" href="{% static "main/favicon.ico" %}"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <!-- JQuery JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <!-- Login/Registration CSS -->
    <link rel="stylesheet" type="text/css" media="all" href={% static "main/auth/css/style.css" %}>
    <link rel="stylesheet" type="text/css" media="all" href={% static "main/auth/css/custom_select.css" %}>
    <!-- FontAwesome Kit -->
    <script src="https://kit.fontawesome.com/8d6423d7fb.js" crossorigin="anonymous"></script>
</head>
<body>
<div id='outer_main' style="padding-top: 3%">
    <div class="main-w3">
        <form method="post">
            {% csrf_token %}
            <a href="/api/events/">
                <i class="fas fa-arrow-left"></i>
            </a>
            <h1 style="margin-bottom: 0.5em">Sign Up</h1>
            <div class="login-w3ls">
                <div class="icons">
                    <label for="username">Username:</label>
                    {% if username_errors or user_creation_errors %}
                        <input type="text" name="username" class="form-control is-invalid" placeholder="Username"
                               aria-describedby="validationUsernameFeedback" required>
                        <div id="validationUsernameFeedback" class="invalid-feedback">
                            {% firstof username_errors user_creation_errors %}
                        </div>
                    {% else %}
                        <input type="text" name="username" class="form-control" placeholder="Username" required>
                    {% endif %}
                </div>
                <div class="icons">
                    <label for="email">Email:</label>
                    {% if email_errors or user_creation_errors %}
                        <input type="text" name="email" class="form-control is-invalid" placeholder="Email"
                               aria-describedby="validationEmailFeedback" required>
                        <div id="validationEmailFeedback" class="invalid-feedback">
                            {% firstof email_errors user_creation_errors %}
                        </div>
                    {% else %}
                        <input type="text" name="email" class="form-control" placeholder="Email" required>
                    {% endif %}
                </div>
                <div class="icons">
                    <label for="password">Password:</label>
                    {% if password_errors or user_creation_errors %}
                        <input type="password" name="password" class="form-control is-invalid" placeholder="Password"
                               aria-describedby="validationPasswordFeedback" required>
                        <div id="validationPasswordFeedback" class="invalid-feedback">
                            {% firstof password_errors user_creation_errors %}
                        </div>
                    {% else %}
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                    {% endif %}
                </div>
                <div class="icons">
                    <label for="timezone">Timezone:</label>
                    {% if timezone_errors or user_creation_errors %}
                        <select class="form-select is-invalid" name="timezone"
                                aria-describedby="validationTimezoneFeedback" required>
                    {% else %}
                        <select class="form-select" name="timezone" required>
                    {% endif %}
                    {% load tz %}
                    {% get_current_timezone as TIME_ZONE %}
                    {% for tz in timezones %}
                        <option value="{{ tz }}" {% if tz == TIME_ZONE %}selected{% endif %}>{{ tz }}</option>
                    {% endfor %}
                    </select>
                    {% if timezone_errors or user_creation_errors %}
                        <div id="validationTimezoneFeedback" class="invalid-feedback">
                            {% firstof timezone_errors user_creation_errors %}
                        </div>
                    {% endif %}
                </div>
                <div class="btnn">
                    <button type="submit" class="custombtn">Sign Up</button>
                    <a href="/login/">
                        <button type="button" class="custombtn">Back to Login page</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>