#container {
    margin-left: 2rem;
    margin-right: 2rem;
    height: 95%;
    position: absolute;
    left: 9%;
}

.no-event {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link {
    font-weight: 600;
    font-size: 1.25rem;
}

.tab-pane {
    font-size: 1.15rem;
    margin-left: 5%;
    margin-right: 5%;
}

.carousel, .carousel .carousel-item {
    height: 24rem;
    width: 48rem;
}

.carousel-item img {
    height: 24rem;
    width: 48rem;
}

.tab-content > .active {
    display: flex !important;
    justify-content: center;
}

#currentTags {
    width: 550px;
}

.col {
    text-align: center;
}

.custombtn {
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    width: 100%;
    outline: none;
    color: #000;
    font-size: 22px;
    border: 1px solid #1d1b31;
    padding: 5px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.custombtn:hover {
    color: #09aa53;
    border: 1px solid #09aa53;
    background: white;
}

.h5, h5 {
    font-size: 1.15rem !important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-right: 30px !important;
    border-radius: .5rem !important;
}

.title {
    color: grey;
    font-size: 1rem;
}

.contact {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #11101d;
    text-align: center;
    cursor: pointer;
    width: 60%;
    font-size: 18px;
    margin-bottom: 40px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.contact:hover, a:hover {
    opacity: 0.7;
}

img.img-fluid.rounded-circle.mb-3.shadow-sm {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}